body{
    padding: 0px;
    margin: 0px;
}


.container{
    display: grid;
    grid-template-columns: 300px 2fr;
    grid-template-rows: 100px 80vh 100px;
    grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
    transition:grid-template-columns 0.9s ease;
}
.container1{
   
    grid-template-columns: 30px 2fr;
    /* background-color: black; */

}


.header{
    grid-area: header;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


.sidebar{
    grid-area: sidebar;
    background-color: #f4f4f4;
    padding: 10px;
}

.main{
    grid-area: main;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #333;
}

.footer{
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
